@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.4/swiper-bundle.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @apply pt-8 text-[#2d2d2d];
}
.h1 {
  @apply text-2xl md:text-3xl;
}
.h2 {
  @apply text-xl md:text-2xl;
}
.h3 {
  @apply text-lg md:text-xl;
}

.content {
  @apply text-sm text-[#2d2d2d];
}
.content p {
  @apply mt-4;
}
.content ul {
  @apply mt-4 list-disc list-inside;
}
.content h1 {
  @apply text-2xl md:text-3xl mt-4;
}
.content h2 {
  @apply text-xl md:text-2xl mt-4;
}
.content h3 {
  @apply text-lg md:text-xl mt-4;
}
.content iframe {
  @apply w-full h-80 md:h-96;
}



#pagination {
  @apply justify-center flex;
}
#pagination span {
  @apply bg-[#e7e7e7] mt-8 duration-150 opacity-100;
}
#pagination .swiper-pagination-bullet-active {
  @apply bg-[#2d2d2d];
}

#diety-pagination {
  @apply justify-center flex;
}
#diety-pagination span {
  @apply bg-[#e7e7e7] mt-8 duration-150 opacity-100 w-3 h-3;
}
#diety-pagination .swiper-pagination-bullet-active {
  @apply bg-[#2d2d2d] w-3 h-3;
}


.comment {
  background-image: url("../images/comment.svg"), url("../images/comment.svg");
  background-position: 0 0, right bottom;
  @apply bg-no-repeat p-4 mt-4 text-sm text-[#2d2d2d] bg-[length:2rem_auto];
}

/* #nav {
  @apply bg-[#f2f2f2] items-center px-4 lg:p-0 z-10 fixed inset-0 duration-150 opacity-0 flex invisible lg:static lg:visible lg:opacity-100 lg:bg-transparent overflow-y-auto lg:overflow-y-visible w-full justify-center;
} */
#nav.active {
  @apply visible opacity-100 bg-[#f2f2f2] items-center px-4 lg:p-0 z-10 fixed inset-0 duration-150 opacity-0 flex invisible lg:static lg:visible lg:opacity-100 lg:bg-transparent overflow-y-auto lg:overflow-y-visible w-full justify-center;
}

#text {
  margin-bottom: 8px;
}
.wpcf7-form-control-wrap {
  margin-top: 8px;
  border:1px;
  border-color:#0B8344;
}
.primary_navigation {
  @apply m-auto lg:flex w-full justify-between text-base text-black font-medium;
}
.primary_navigation>li {
  @apply text-base text-black font-medium text-center my-4 lg:my-0;
}
.primary_navigation a {
  @apply lg:text-base text-black font-semibold md:text-sm duration-150 hover:text-[#028523];
}
.primary_navigation>li>a {
  @apply py-5 lg:block lg:text-base md:text-sm text-black font-semibold;
}
.primary_navigation .current-menu-item>a {
	@apply text-[#028523]  text-center;
}

.menu-item-has-children>a {
  background-image: url("../images/sub-menu.svg");
  @apply bg-no-repeat bg-right bg-[length:1rem_auto] pr-8 pointer-events-none lg:pointer-events-auto;
}

.form-text {
  @apply text-base font-semibold;
}

.sub-menu {
  @apply hidden lg:absolute z-10 lg:bg-white w-10/12 lg:shadow lg:inset-x-4 lg:max-w-screen-lg lg:max-w-screen-xl lg:max-w-screen-2xl lg:mx-auto lg:pt-4 lg:px-8 lg:pb-8 lg:duration-150 lg:opacity-0 lg:invisible mt-4 lg:mt-0;
}
li:hover .sub-menu {
  @apply block lg:visible lg:opacity-100 lg:flex lg:flex-wrap;
}
.sub-menu li {
  @apply text-center lg:text-left lg:w-1/3 lg:mt-4;
}

table {
  @apply w-full mt-4 bg-[#f2f2f2];
}
th,
td {
	@apply p-4 text-sm text-[#2d2d2d] text-center;
}
th {
  @apply font-bold;
}
tbody tr {
  @apply border-t border-[#e7e7e7] border-solid duration-150 hover:bg-[#b7f15f];
}

.form-input,
.form-select {
  @apply border border-[#e7e7e7] border-solid mt-4 p-4 rounded text-sm text-[#2d2d2d] duration-150 outline-none focus:border-[#028523] bg-white w-full;
}

.form-select {
  background-image: url("../images/form-select.svg");
  @apply bg-no-repeat bg-[length:1rem_auto] bg-[right_1rem_center] appearance-none;
}

.form__email, .form__name , .form__title, .form__message {
  font-size: 14px;
  margin-bottom: 8px;
  width: 100%;
}
.wpcf7-form-control-wrap{
  width: 100%;
  display: block;
}

.wpcf7-form input{
  width: 100%;
  height: 50px;
  border-radius:5px;
  border-color: #0B8344 ;
}
.wpcf7-form textarea{
  width: 100%;
}

.wpcf7-form p {
  margin-top:10px;
}

.nav1.active + .nav-primary {
  display: block!important;
}

.Footer_cities {
  display: flex;
  flex-wrap: wrap;
  /* width: 83.333%; */
  margin-left: auto;
  margin-right: auto;

}
.Footer_cities li a {
  font-size: 14px;
  line-height: 22px;
  margin-left: 3px;
  margin-right: 3px;
  color: #696969;

}

.secondary_navigation {
  display: flex;
  flex-direction: column;
}

.secondary_navigation li {
  margin-top:10px;
}

.secondary_navigation li a {
  color: #696969;
  margin-top: 5px;
}

.margin-button {
  margin-left: 5%;
}


.kalorycznosc::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: center;
  background-image: url(../images/bi_fire.png);
}
.tertiary_navigation {
  display: flex;
  flex-direction: column;
}
.tertiary_navigation li {

  margin-top: 10px;
} 

.tertiary_navigation li a {
  color: #696969;
  margin-top: 5px;
}
.answer {
  display: none;
}
.menu-list {
  display: none;
}
.menu-title {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 62px;
}
.menu-title::after {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-image: url(../images/arrow.png);
  width:20px;
  height: 10px;
}
.menu-title.active + .menu-list {
  display:block;
}
.faq-list .faq.active .answer {
  display:block;
}
.female-box {
  background-image:url(../images/lady-black.png);
  height: 67px;
  width: 26px;
}
.female-box::checked + label{
  color:#0B8344;

}

.female-box::checked {
  background-image:url(../images/lady.png);
}

.radio-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.radio-box label div{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  padding:18px;
  margin-top: 23px;
  cursor: pointer;
}
.radio-box input{
  display: none;
}
.radio-box label span{
  position: relative;
  padding-left: 35px;
}
.radio-box label span::before{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D9D9D9;
}
.radio-box label input:checked + div{
  background: #A6CD39;
}
.radio-box label input:checked + div span::before{
  background: #fff;
}
.radio-box label input:checked + div span::after{
  content: ' ';
  position: absolute;
  top: 40%;
  left: 6px;
  transform: translatey(-50%) rotate(-45deg);
  width: 14px;
  height: 7px;
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
}


.calc-gender{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:18px;
  margin-top: 23px;
  cursor: pointer;
  padding-left: 45px;
  position: relative;
}
.calc-gender input{
  display: none;
}

.male span::before {
  content: ' ';
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  background-image:url(../images/man-black.png);
  background-repeat: no-repeat;
  height: 67px;
  width: 26px;
}
.female span::before {
  content: ' ';
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  background-image:url(../images/lady-black.png);
  background-repeat: no-repeat;
  height: 67px;
  width: 26px;
}
.calc-gender.female input:checked + span::before{
  background-image:url(../images/lady.png);

}
.calc-gender.male input:checked + span::before{
  background-image:url(../images/man.png);

}
.calc-gender input:checked + span::after{
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  height: 2px;
  background: green;
}

.calc-gender input:checked + span {
  color:#0B8344;
}